<h2>CLIENTES</h2>
<div class="table table-responsive">
    <table>
        <th>Nombre</th>
        <th>Usuarios</th>
        <th>Teléfono</th>
        <th>Email</th>
        @for(cliente of clientes;track $index){

        <tr [routerLink]="[`/admin/cliente/${cliente.id}`]">
            <td>{{cliente.nombre}}</td>
            <td>{{cliente.apellidos}}</td>
            <td>{{cliente.telefono| date: 'dd/MM/yyyy'}}</td>
            <td>{{cliente.email}}</td>

        </tr>


        }
    </table>
</div>