footer {
	background-color: rgb(224, 219, 219);
	padding: 10px;
	border-top: 1px solid white;
	background-color: var(--secondary-color);
	color: white;

	li {
		display: inline-block;
	}
	.flex {
		display: flex;
		justify-content: space-between;
	}
	p {
		cursor: pointer;
		&:hover {
			color: var(--tertiary-color);
		}
	}
}
