footer {
	background-color: rgb(224, 219, 219);
	padding: 10px;
	border-top: 1px solid black;
	background-color: rgb(230, 224, 224);

	li {
		display: inline-block;
	}
	.flex {
		display: flex;
		justify-content: space-between;
	}
	p {
		cursor: pointer;
		&:hover {
			color: var(--tertiary-color);
		}
	}
}
