<div class="container">
  <form [formGroup]="nuevoVehiculoForm" (ngSubmit)="onSubmit()">
    <div class="header">
      <h1>Nuevo vehículo</h1>
      <p class="subtitle">Rellena los datos para registrar un nuevo vehículo</p>
    </div>

    <div class="mb-3">
      <label class="form-label">Matrícula</label>
      <input class="form-control" type="text" formControlName="matricula" />
      @if (checkControl('matricula', 'required')) {
      <p class="text-danger">Matricula obligatoria</p>
      } @if (checkControl('matricula', 'pattern')) {
      <p class="text-danger">El patron de email esta mal</p>
      }
    </div>

    <div class="mb-3">
      <label class="form-label">Bastidor</label>
      <input class="form-control" type="text" formControlName="bastidor" />
      @if (checkControl('bastidor', 'required')) {
      <p class="text-danger">Bastidor obligatorio</p>

      } @if (checkControl('bastidor', 'minlength')) {
      <p class="text-danger">Tiene que tener un caracter minimo/maximo de 17</p>
      } @if (checkControl('bastidor', 'maxlength')) {
      <p class="text-danger">Tiene que tener un caracter minimo/maximo de 17</p>
      }
    </div>

    <div class="mb-3">
      <label class="form-label">Marca</label>
      <input class="form-control" type="text" formControlName="marca" />
      @if (checkControl('marca', 'required')) {
      <p class="text-danger">Marca obligatoria</p>
      } @if (checkControl('marca', 'minlength')) {
      <p class="text-danger">Tiene que tener un caracter minimo 1</p>
      } @if (checkControl('marca', 'maxlength')) {
      <p class="text-danger">Tiene que tener un caracter maximo de 30</p>
      }
    </div>

    <div class="mb-3">
      <label class="form-label">Modelo</label>
      <input class="form-control" type="text" formControlName="modelo" />
      @if (checkControl('modelo', 'required')) {
      <p class="text-danger">Modelo obligatorio</p>
      } @if (checkControl('modelo', 'minlength')) {
      <p class="text-danger">Tiene que tener un caracter minimo 1</p>
      } @if (checkControl('modelo', 'maxlength')) {
      <p class="text-danger">Tiene que tener un caracter maximo de 30</p>
      }
    </div>

    <div class="mb-3">
      <label class="form-label">Fecha matriculación</label>
      <input
        class="form-control"
        type="date"
        formControlName="fecha_matriculacion"
      />
      @if (checkControl('Fecha_matriculacion', 'required')) {
      <p class="text-danger">fecha de matriculacion obligatoria</p>
      }
    </div>
    <input
      type="submit"
      value="Registrar"
      class="btn"
      
      [disabled]="!nuevoVehiculoForm.valid"
    />
  </form>
</div>
<ngx-sonner-toaster richColors position="bottom-center" />
<!-- (click)="actualizarVehiculosAsociados()" -->