<div class="general">

    <div class="lateral">
        <div class="wrapper fijo">

            <ul class=" tab nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link" (click)="selectTab('clientes')"
                        [class.active]="selectedTab==='clientes'">Clientes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="selectTab('empleados')"
                        [class.active]="selectedTab==='empleados'">Empleados</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="selectTab('taller')" [class.active]="selectedTab==='taller'">Taller</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="selectTab('vehiculos')"
                        [class.active]="selectedTab==='vehiculos'">Vehículos</a>
                </li>

            </ul>


            @if(selectedTab=== 'clientes'){
            <ul class="menuSelectedTab">
                <li [routerLink]="['/admin', 'clientes']">Lista de clientes</li>
                <li [routerLink]="['/admin', 'nuevoCliente']">Nuevo cliente</li>
            </ul>

            <form class="mb-3" [formGroup]="searchClienteForm" (ngSubmit)="onSubmitCliente()">
                <label class="form-label">Búsqueda</label>
                <input type="text" class="form-control" placeholder="Teléfono" formControlName="telefono">
                <input type="submit" value="Enviar">
            </form>

            }
            @if(selectedTab=== 'taller'){
            <ul class="menuSelectedTab">
                <li [routerLink]="['/admin', 'reparaciones']">Notas de taller</li>

            </ul>
            <form class="mb-3" [formGroup]="searchReparacionForm" (ngSubmit)="onSubmitReparacion()">
                <label class="form-label">Búsqueda</label>
                <input type="text" class="form-control" placeholder="número de nota" formControlName="notaTaller">
                <input type="submit" value="Enviar">
            </form>
            }

            @if(selectedTab=== 'vehiculos'){
            <ul class="menuSelectedTab">
                <li [routerLink]="['/admin', 'vehiculos']">Lista de vehículos</li>
                <li (click)="selectTab('clientes')">Nuevo vehículo</li>
            </ul>
            <form class="mb-3" [formGroup]="searchVehiculoForm" (ngSubmit)="onSubmitMatricula()">
                <label class="form-label">Búsqueda</label>
                <input type="text" class="form-control" placeholder="matrícula" formControlName="matricula">
                <input type="submit" value="Enviar">
            </form>
            }
            @if(selectedTab=== 'empleados'){
            <ul class="menuSelectedTab">
                <li [routerLink]="['/admin', 'usuarios']">Lista de empleados</li>
                <li [routerLink]="['/admin', 'nuevoEmpleado']">Nuevo empleado</li>
            </ul>
            <form class="mb-3" [formGroup]="searchEmpleadoForm" (ngSubmit)="onSubmitEmpleado()">
                <label class="form-label">Búsqueda</label>
                <input type="text" class="form-control" placeholder="email" formControlName="email">
                <input type="submit" value="Enviar">
            </form>
            }
            @if(!selectedTab){
            <div class="logoTaller">
                <i class="fa-solid fa-car"></i>
                <p>TALLERES MACARRONI</p>
            </div>
            }

        </div>
    </div>

    <div class="main wrapper">
        @if(activatedRoute===false){
        <div class="home">
            @if(usuario){
            <p>Hola <strong>{{usuario.nombre}} {{usuario.apellidos}}</strong>, te has logado por última vez a las
                <strong>{{horaRegistro}}</strong>
            </p>
            <div class="registro">
                <h3>REGISTRO DE ENTRADAS Y SALIDAS</h3>
                <div class="listas">
                    <div>
                        <h4>ENTRADAS</h4>
                        <ul>
                            @for(entrada of entradas;track $index){
                            <li>{{entrada.entrada | date:'EEEE d \'de\' MMMM, HH:mm' : ''}}</li>
                            }
                        </ul>
                    </div>
                    <div>
                        <h4>SALIDAS</h4>
                        <ul>
                            @for(salida of salidas;track $index){
                            <li>{{salida.salida | date:'EEEE d \'de\' MMMM HH:mm' : ''}}</li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
            }
        </div>
        }
        <div class="router">
            <router-outlet (activate)="activated()" (deactivate)="nonActivated()" />
        </div>

    </div>


</div>