<div class="general">

    <div class="lateral">
        <div class="wrapper fijo">
            <ul>
                <li [routerLink]="['/admin', 'clientes']">Clientes</li>
                <li [routerLink]="['/admin', 'usuarios']">Empleados</li>
                <li [routerLink]="['/admin', 'reparaciones']">Notas de taller</li>
            </ul>
            <form class="mb-3" [formGroup]="searchClienteForm" (ngSubmit)="onSubmitCliente()">
                <label class="form-label">Cliente</label>
                <input type="text" class="form-control" placeholder="Teléfono" formControlName="telefono">
                <input type="submit" value="Enviar">
            </form>

            <form class="mb-3" [formGroup]="searchReparacionForm" (ngSubmit)="onSubmitReparacion()">
                <label class="form-label">Nota de taller</label>
                <input type="text" class="form-control" placeholder="número de nota" formControlName="notaTaller">
                <input type="submit" value="Enviar">


            </form>
            <form class="mb-3" [formGroup]="searchVehiculoForm" (ngSubmit)="onSubmitMatricula()">
                <label class="form-label">Vehículo</label>
                <input type="text" class="form-control" placeholder="matrícula" formControlName="matricula">
                <input type="submit" value="Enviar">



            </form>
            <div class="logoTaller">
                <i class="fa-solid fa-car"></i>
                <p>TALLERES MACARRONI</p>

            </div>
        </div>


    </div>

    <div class="main wrapper">

        <div class="routerOutlet">
            <router-outlet />
        </div>

    </div>


</div>








<!--
<form [formGroup]="searchClienteForm" (ngSubmit)="onSubmitCliente()">
    <label for="">cliente</label>
    <input type="text" formControlName="email">
    <label for="">vehiculo</label>
    <input class="btn btn-info" type="submit">
</form>

<form [formGroup]="searchVehiculoForm" (ngSubmit)="onSubmitMatricula()">
    <label for="">matricula</label>
    <input type="text" formControlName="matricula">
    <input class="btn btn-info" type="submit">
</form>

<button [routerLink]="['/admin', 'clientes']">Ver lista de clientes</button>
<button [routerLink]="['/admin', 'cliente', 'clienteId']">Ver un cliente concreto</button>

<button [routerLink]="['/admin', 'usuarios']">Ver lista de Usuarios</button>
<button [routerLink]="['/admin', 'usuario', 'usuarioId']">Ver un usuario concreto</button>


-->



<!--  
        { path: 'usuarios', component: ListaUsuariosComponent },
        { path: 'usuario/:usuarioId', component: DetalleUsuarioComponent }, -->