.general {
	display: flex;
	flex-wrap: wrap;
	height: 100vh;
}
.lateral {
	width: 20%;
	border-right: 1px solid black;
	background-color: dodgerblue;
	color: rgb(217, 232, 250);
}
.main {
	width: 80%;

	form {
		margin: 0 auto;
		width: 30%;
	}
}

.menuBusqueda {
	width: 500px;
	margin: 0 auto;
	border: 1px solid black;
}
.routerOutlet {
	padding: 30px;
}
ul {
	list-style: none;
}
