h2 {
	text-transform: capitalize;
}
.general {
	display: flex;
	height: 100vh;
	overflow: auto;
	min-height: calc(100vh - 161.4px);
}

.tab {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
img {
	margin: 10px auto;
	display: block;
	width: 100px;
}
.lateral {
	position: relative;
	width: 20%;
	border-right: 1px solid black;
	background-color: var(--primary-color);
	color: rgb(217, 232, 250);
	overflow-y: auto;
}

.fijo {
	position: sticky;
	top: 0;
}

.main {
	width: 80%;
	overflow-y: auto;
	background-color: rgb(242, 239, 239);
}

.routerOutlet {
	padding: 30px;
}

ul {
	list-style: none;
	padding: 20px;
	font-size: 20px;
	li {
		cursor: pointer;
	}
}
input,
button {
	width: 90%;
	margin: 10px;
}
form {
	display: flex;
	flex-direction: column;
	align-items: center;
}
form input:last-child,
button {
	padding: 5px;
	border-radius: 5px;
}
.logoTaller {
	text-align: center;
	margin: 100px auto;
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
		"Lucida Sans", Arial, sans-serif;
	font-weight: bolder;
	font-size: 120%;
	letter-spacing: 5px;
}
.registro {
	text-align: center;

	h3 {
		border-bottom: 1px solid black;
		padding: 20px;
	}
}
.listas {
	display: flex;
	flex-wrap: wrap;
	margin: 20px 0 20px 0;
	justify-content: center;

	h4 {
		text-align: center;
	}
}
.botonesRegistro {
	cursor: pointer;
	position: absolute;
	bottom: 15%;
	left: 50%;
	transform: translateX(-50%);
	p:hover {
		color: var(--tertiary-color);
	}
}

/* Estilos responsivos */
@media (max-width: 1024px) {
	.lateral {
		width: 25%;
	}

	.main {
		width: 75%;
	}
}

@media (max-width: 768px) {
	.general {
		flex-wrap: wrap;
	}
	.logoTaller {
		margin: 50px auto;
	}
	.lateral {
		width: 100%;
		border-right: none;
		border-bottom: 1px solid black;
		form {
			width: 70%;
			margin: 0 auto;
		}
	}
	.menuSelectedTab {
		text-align: center;
		margin-top: 20px;
	}
	.main {
		width: 100%;
	}
	.tab {
		flex-direction: row;
	}
}

@media (max-width: 480px) {
	.routerOutlet {
		padding: 15px;
	}
	.lateral form {
		width: 90%;
		margin: 0 auto;
	}
}
