@if (cliente) { @if (!mecanicoAdmin) {
<div class="general">
  <div class="cliente">
    <ul class="list-group">
      <li id="span" class="nombre list-group-item list-group-item-action" aria-current="true">
        <span>Datos del cliente</span>
        <span>ID: {{ cliente.id }}</span>
      </li>
      <li class="list-group-item list-group-item-action">
        <strong>Nombre: </strong>{{ cliente.nombre }}
      </li>
      <li class="list-group-item list-group-item-action">
        <strong>Apellidos: </strong>{{ cliente.apellidos }}
      </li>
      <li class="list-group-item list-group-item-action">
        <strong>DNI: </strong>{{ cliente.dni }}
      </li>
      <li class="list-group-item list-group-item-action">
        <strong>Teléfono: </strong>{{ cliente.telefono }}
      </li>
      <li class="list-group-item list-group-item-action">
        <strong>Email: </strong>{{ cliente.email }}
      </li>
      <li class="list-group-item list-group-item-action">
        <strong>Dirección: </strong>{{ cliente.direccion }}
      </li>
      <li class="list-group-item list-group-item-action">
        <strong>Fecha de alta: </strong>{{ cliente.fecha_alta | date : "dd-MM-yyyy" }}
      </li>
      <li class="list-group-item list-group-item-action">
        <strong>Dirección: </strong>{{ cliente.direccion }}
      </li>
    </ul>
    <div class="botones">
      <button [routerLink]="['/admin', 'cliente', cliente.id, 'nuevoVehiculo']">
        Nuevo vehículo
      </button>
      <button [routerLink]="['/admin', 'cliente', cliente.id, 'nuevaNota']">
        Nueva nota de taller
      </button>
      <button [routerLink]="['/admin', 'cliente', cliente.id, 'editarCliente']">
        Actualizar cliente
      </button>
    </div>
    <table>
      <thead class="nombre">
        <th colspan="3">Vehiculos asociados</th>
      </thead>
      <th>ID</th>
      <th>Estado</th>
      <th>Entrada</th>
      @for(vehiculo of vehiculos;track $index){
      <tr (click)="onClick(vehiculo.id)">
        <td>{{ vehiculo.marca }}</td>
        <td>{{ vehiculo.modelo }}</td>
        <td>{{ vehiculo.matricula }}</td>
      </tr>
      }
    </table>
    <table>
      <thead class="nombre">
        <th colspan="5">Notas de taller</th>
      </thead>
      <th>ID</th>
      <th>Estado</th>
      <th>Entrada</th>
      <th>Salida</th>
      <th>Mecánico</th>
      @for(reparacion of reparaciones;track $index){
      <tr [routerLink]="['/admin','reparacion',reparacion.id]">
        <td>{{ reparacion.id }}</td>
        <td>{{ reparacion.estado }}</td>
        <td>{{ reparacion.fecha_ingreso | date : "dd-MM-yyyy" }}</td>
        <td>{{ reparacion.fecha_salida | date : "dd-MM-yyyy" }}</td>
        <td>{{ reparacion.mecanico }}</td>
      </tr>
      }
    </table>
  </div>

  <div class="router">
    <router-outlet />
  </div>
</div>
} }@else {
<div class="card-cliente">
  <h3>👤 Detalle del Cliente</h3>
  <ul>
    <li>
      <strong>Nombre:</strong> {{ clienteReparacion?.nombre }}
      {{ clienteReparacion?.apellidos }}
    </li>
    <li><strong>DNI:</strong> {{ clienteReparacion?.dni }}</li>
    <li><strong>Teléfono:</strong> {{ clienteReparacion?.telefono }}</li>
    <li><strong>Email:</strong> {{ clienteReparacion?.email }}</li>
    <li><strong>Dirección:</strong> {{ clienteReparacion?.direccion }}</li>
    <li>
      <strong>Fecha de alta:</strong>
      {{ clienteReparacion?.fecha_alta | date : "EEEE d 'de' MMMM, HH:mm" }}
    </li>
  </ul>
</div>
}
<ngx-sonner-toaster richColors position="bottom-center" />