@if(cliente){
@if (!mecanicoAdmin) {
<div class="general">
    <div class="cliente">
        <ul class="list-group">
            <li class="nombre list-group-item list-group-item-action" aria-current="true">
                {{ cliente.nombre }}
            </li>
            <li href="#" class="list-group-item list-group-item-action">
                <strong>Apellidos: </strong>{{ cliente.apellidos }}
            </li>
            <li href="#" class="list-group-item list-group-item-action">
                <strong>DNI: </strong>{{ cliente.dni }}
            </li>
            <li href="#" class="list-group-item list-group-item-action">
                <strong>Teléfono: </strong>{{ cliente.telefono }}
            </li>
            <li class="list-group-item list-group-item-action ">
                <strong>Email: </strong>{{ cliente.email }}
            </li>
            <li class="list-group-item list-group-item-action ">
                <strong>Dirección: </strong>{{ cliente.direccion }}
            </li>
            <li class="list-group-item list-group-item-action ">
                <strong>Fecha de alta: </strong>{{ cliente.fecha_alta | date : "dd-MM-yyyy" }}
            </li>
            <li class="list-group-item list-group-item-action ">
                <strong>Dirección: </strong>{{ cliente.direccion }}
            </li>
        </ul>
        <div class="botones">
            <button [routerLink]="['/admin', 'cliente', cliente.id, 'nuevoVehiculo']">
                Nuevo vehículo
            </button>
            <button [routerLink]="['/admin', 'cliente', cliente.id, 'nuevaNota']">
                Nueva nota de taller
            </button>
        </div>
        <ul class="list-group">
            <li class="nombre list-group-item list-group-item-action" aria-current="true">
                Vehículos

            </li>
            @for(vehiculo of vehiculos;track $index){
            <li class="list-group-item list-group-item-action " (click)="onClick(vehiculo.id)">
                {{ vehiculo.marca }} {{ vehiculo.modelo }} {{ vehiculo.matricula }}
            </li>
            }
        </ul>
        <ul class="list-group">
            <li class="nombre list-group-item list-group-item-action">
                Notas de taller</li>
            @for(reparacion of reparaciones;track $index){
            <li class="list-group-item list-group-item-action">
                {{ reparacion.id }} {{ reparacion.estado }} {{ reparacion.fecha_ingreso |date :'dd-MM-yyyy' }}


            </li>
            }
        </ul>

    </div>

    <div class="router">
        <router-outlet />
    </div>
</div>
}@else {
<div class="card-cliente">
    <h3>👤 Detalle del Cliente</h3>
    <ul>
        <li><strong>Nombre:</strong> {{ cliente.nombre }} {{ cliente.apellidos }}</li>
        <li><strong>DNI:</strong> {{ cliente.dni }}</li>
        <li><strong>Teléfono:</strong> {{ cliente.telefono }}</li>
        <li><strong>Email:</strong> {{ cliente.email }}</li>
        <li><strong>Dirección:</strong> {{ cliente.direccion }}</li>
        <li><strong>Fecha de alta:</strong> {{ cliente.fecha_alta }}</li>
    </ul>
</div>
}
}
<!--

<h3>nueva nota</h3>
<form [formGroup]="nuevaNotaForm">
    <label>Nota</label>
    <input type="text" formControlName="notas">

    <input type="submit">
</form>
<h3>notas</h3>
@for(nota of notas;track $index){

<p>{{nota.notas}}</p>
}

 (ngSubmit)="onSubmitNota()" -->