@if (!mecanicoAdmin) {
<div class="general">
    <div class="cliente">
        <ul class="list-group">
            <li class="nombre list-group-item list-group-item-action" aria-current="true">
                {{ cliente.nombre }}
            </li>
            <li href="#" class="list-group-item list-group-item-action">
                <strong>Apellidos: </strong>{{ cliente.apellidos }}
            </li>
            <li href="#" class="list-group-item list-group-item-action">
                <strong>DNI: </strong>{{ cliente.dni }}
            </li>
            <li href="#" class="list-group-item list-group-item-action">
                <strong>Teléfono: </strong>{{ cliente.telefono }}
            </li>
            <li class="list-group-item list-group-item-action disabled" aria-disabled="true">
                <strong>Email: </strong>{{ cliente.email }}
            </li>
            <li class="list-group-item list-group-item-action disabled" aria-disabled="true">
                <strong>Dirección: </strong>{{ cliente.direccion }}
            </li>
            <li class="list-group-item list-group-item-action disabled" aria-disabled="true">
                <strong>Fecha de alta: </strong>{{ cliente.fecha_alta | date : "dd-MM-yyyy" }}
            </li>
            <li class="list-group-item list-group-item-action disabled" aria-disabled="true">
                <strong>Dirección: </strong>{{ cliente.direccion }}
            </li>
        </ul>
        <div class="botones">
            <button [routerLink]="['/admin', 'cliente', cliente.id, 'nuevoVehiculo']">
                Nuevo vehículo
            </button>
            <button [routerLink]="['/admin', 'cliente', cliente.id, 'nuevaNota']">
                Nueva nota de taller
            </button>
        </div>
        <ul class="list-group">
            <li class="nombre list-group-item list-group-item-action" aria-current="true">
                Veículos

            </li>
            @for(vehiculo of vehiculos;track $index){

            <li class="list-group-item list-group-item-action disabled" aria-current="true">
                {{ vehiculo.marca }} {{ vehiculo.modelo }} {{ vehiculo.matricula }}
            </li>
            }
        </ul>

    </div>

    <div class="router">
        <router-outlet />
    </div>
</div>
}@else {

<h1>hoollllllllaaa</h1>
<!--  <div class="card-vehiculo">
        <h3>🛠️ Detalle Vehículo</h3>
        <ul>
          <li><strong>Matrícula:</strong> {{ vehiculo.matricula }}</li>
          <li><strong>Modelo:</strong> {{ vehiculo.modelo }}</li>
          <li><strong>Marca:</strong> {{ vehiculo.marca }}</li>
          <li><strong>Kilómetros:</strong> {{ vehiculo.km }}</li>
          <li><strong>Bastidor:</strong> {{ vehiculo.bastidor }}</li>
          <li><strong>Fecha Entrada:</strong> {{ vehiculo.fecha_entrada }}</li>
          <li><strong>Fecha Salida:</strong> {{ vehiculo.fecha_salida }}</li>
          <li><strong>Fecha Matriculación:</strong> {{ vehiculo.fecha_matriculacion }}</li>
        </ul>
      </div> -->
}

<!--

<h3>nueva nota</h3>
<form [formGroup]="nuevaNotaForm">
    <label>Nota</label>
    <input type="text" formControlName="notas">

    <input type="submit">
</form>
<h3>notas</h3>
@for(nota of notas;track $index){

<p>{{nota.notas}}</p>
}

 (ngSubmit)="onSubmitNota()" -->