<div class="main wrapper">

    <div class="perfil">
        <img class="imagen-empleado"
            [src]="(usuario?.foto_perfil!=='') ? 'http://localhost:3000/images/' + usuario?.foto_perfil : '/images/avatarcrm.avif'"
            alt="">
        <ul class="list-group">
            <li class="nombre list-group-item list-group-item-action">{{usuario?.nombre | titlecase}}
                {{usuario?.apellidos | titlecase}}</li>
            <li class="list-group-item list-group-item-action"><strong>DNI: </strong>{{usuario?.dni}}</li>
            <li class="list-group-item list-group-item-action"><strong>Teléfono: </strong>{{usuario?.telefono}}</li>
            <li class="list-group-item list-group-item-action"><strong>Jornada: </strong>{{usuario?.jornada}}</li>
        </ul>
    </div>
    <div class="home">
        @if(usuario){
        <p><strong>{{usuario.nombre | titlecase }} </strong>, te has logado por
            última vez a las
            <strong>{{horaRegistro}}.</strong>
        </p>
        <div class="registro">
            <h3>REGISTRO DE ENTRADAS Y SALIDAS</h3>
            <div class="listas">
                <div>
                    <h4>ENTRADAS</h4>
                    <ul>
                        @for(entrada of entradas;track $index){
                        <li>{{entrada.entrada | date:'EEEE d \'de\' MMMM, HH:mm' : ''}}</li>
                        }
                    </ul>
                </div>
                <div>
                    <h4>SALIDAS</h4>
                    <ul>
                        @for(salida of salidas;track $index){
                        <li>{{salida.salida | date:'EEEE d \'de\' MMMM HH:mm' : ''}}</li>
                        }
                    </ul>
                </div>
            </div>
        </div>
        @if(this.admin===false){
        <button [routerLink]="['/taller']" [class.active]="">Volver</button>
        }}
    </div>

</div>