     <div class="container">
      <header class="header">
        <h1>Login</h1>
        <p class="subtitle">Inicia sesión para continuar</p>
      </header>
  
      <div class="login-form">
        <form [formGroup]="formLogin" (ngSubmit)="onSubmit()" class="garage-form">
          <div class="mb-3">
            <label class="form-label">Email</label>
            <input type="email" class="form-control" formControlName="email">
            @if (checkControl('email', 'required')) {
              <p class="text-danger small">Email obligatorio</p>
            }
          </div>
  
          <div class="mb-3">
            <label class="form-label">Password</label>
            <input type="password" class="form-control" formControlName="password">
            @if (checkControl('password', 'required')) {
              <p class="text-danger small">Password obligatoria</p>
            }
          </div>
  
          <input type="submit" value="Ingresar" class="btn">
        </form>
  
        <p class="footer-note">¿Olvidaste tu contraseña? <a href="registro/usuario">Recupérala aquí</a></p>
      </div>
    </div>

<ngx-sonner-toaster richColors position="bottom-center" />