<header class="wrapper">
    <h1>CRM-GARAGE</h1>
    <div>
        <div class="derecha">

            @if(usuario){
            <div>
                <p>{{usuario.nombre}} {{usuario.apellidos}}</p>
            </div>
        }

            <div class="logoTaller">
                <p (click)="logout()">Logout</p>
            </div>

        </div>
        </div>

</header>




        <!--<nav class="navbar navbar-expand-lg ">
    <div class="container-fluid">
        <a class="navbar-brand crm" href="#">CRM GARAGE</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item nav-link active" [routerLink]="['/Inicio']">Login</li>
                <li class="nav-item nav-link active" [routerLink]="['/admin']">Admin</li>
                <li class="nav-item nav-link active" [routerLink]="['/nuevo']">NuevoCliente</li>
                <li class="nav-item nav-link active" [routerLink]="['/clientes']">ListaClientes</li>
                <li class="nav-item nav-link active" [routerLink]="['/vehiculos']">ListaVehículos</li>
                <li class="nav-item nav-link active" [routerLink]="['/usuarios']">ListaUsuario</li>
                <li class="nav-item nav-link active" [routerLink]="['/registro/usuario']">NuevoUsuario</li>
                <li class="nav-item nav-link active" [routerLink]="['/registro/reparaciones']">NuevaReparacion</li>
                <li class="nav-item nav-link active" [routerLink]="['/taller']">DashboardMecánico</li>
                <li class="nav-item nav-link active" [routerLink]="['/reparaciones']">ListaReparaciones</li>
            </ul>
        </div>
    </div>
</nav>-->
