header.wrapper {
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: white;

	width: 95%;
}
.general {
	background-color: var(--secondary-color);
	border-bottom: white 1px solid;
}
div.derecha {
	display: flex;
	gap: 15px;
	align-items: center;
}
.logout {
	display: flex;
	align-items: center;
}
.usuario {
	display: flex;
	gap: 10px;
	align-items: center;
}

h1 {
	font-family: "Yuji Boku", serif;
	font-weight: 400;
	font-style: normal;
	font-weight: 400;
	font-style: normal;
	font-size: 200%;

	&:hover {
		color: var(--tertiary-color);
	}
}
p {
	text-transform: capitalize;
	margin: 0;
}

.in:hover {
	color: green;
}
.out:hover {
	color: red;
}
.botonesRegistro,
h1 {
	cursor: pointer;
}
@media (max-width: 540px) {
	.wrapper {
		flex-direction: column;
	}
}
