header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--secondary-color);
	color: white;
	border-bottom: white 1px solid;
}

header .derecha {
	display: flex;
	gap: 20px;
}
.logoTaller {
	display: flex;
	text-align: center;

	i {
		font-size: 150%;
	}
}
.usuario {
	display: flex;
	gap: 10px;
	i {
		margin-top: 3px;
	}
}
h1 {
	font-size: 150%;
	cursor: pointer;
	&:hover {
		color: var(--tertiary-color);
	}
}
p:hover,
.usuario:hover {
	color: var(--tertiary-color);
}
p {
	text-transform: capitalize;
}
