header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--secondary-color);
}

header .derecha {
	display: flex;
	gap: 20px;
}
.logoTaller {
	display: flex;
	text-align: center;

	i {
		font-size: 150%;
	}
}
h1 {
	font-size: 150%;
}
p:hover {
	color: var(--primary-color);
}
