<div class="general">
    <header class="wrapper">
        <div>
            @if(usuario?.rol==='mecanico'){
            <h1 [routerLink]="['/main']">CRM-GARAGE</h1>
            }
            @if(usuario?.rol==='admin'){
            <h1 [routerLink]="['/admin']">CRM-GARAGE</h1>
            }
            @if(!usuario){
            <h1>CRM-GARAGE</h1>
            }
        </div>
        <div>
            <div class="derecha">
                @if(usuariosService.isLogged()){
                <div class="usuario">
                    <i class="fa-solid fa-user"></i>
                    <p>{{usuario?.nombre}} {{usuario?.apellidos}}</p>
                </div>

                <div class="logout">
                    <div class="botonesRegistro">
                        @if(trabajando===false){
                        <p class="in" (click)="registerEntrada()">Entrada</p>
                        }
                        @if(trabajando===true){
                        <p class="out" (click)="registerSalida()">Salida</p>
                        }
                    </div>
                </div>
                }
            </div>
        </div>

    </header>
</div>