<div class="wrapper">
  <h2 class="titulo-mecanico">Mis Reparaciones</h2>

  <div class="general-container">
    <div class="card-mecanico">
      <figure>
        @if(mecanico){
        <img
          [src]="(mecanico.foto_perfil!=='') ? 'http://localhost:3000/images/' + mecanico.foto_perfil : 'https://img.freepik.com/psd-gratis/ilustracion-3d-avatar-o-perfil-humano_23-2150671122.jpg'"
          alt="Foto mecanico" />}
      </figure>
      <p><strong>DNI:</strong> {{ mecanico?.dni }}</p>
      <p><strong>Teléfono:</strong> {{ mecanico?.telefono }}</p>
      <p><strong>Email:</strong> {{ mecanico?.email }}</p>
      <p>
        <strong>Fecha de nacimiento:</strong>
        {{ mecanico?.fecha_nacimiento | date : "dd-MM-YYYY" }}
      </p>
      <p><strong>Dirección:</strong> {{ mecanico?.direccion }}</p>
      <p><strong>Especialidad:</strong> {{ mecanico?.especialidad }}</p>
      <p><strong>Jornada:</strong> {{ mecanico?.jornada }}</p>
    </div>

    <div class="card-reparaciones">
      <!-- <h3>Reparaciones del Mecánico</h3> -->
      @for (reparacion of arrMecanicoReparaciones; track $index) {
      <div class="item-reparacion">
        <p>
          <strong>Estado: </strong> <span>{{ reparacion.estado }}</span>
        </p>
        <p>
          <strong>Ingreso: </strong>
          {{ reparacion.fecha_ingreso | date : "EEEE d 'de' MMMM, HH:mm" }}
        </p>
        <p>
          <strong>Finalización: </strong>
          {{ reparacion.fecha_finalizacion | date : "EEEE d 'de' MMMM, HH:mm" }}
        </p>
        <p>
          <strong>Presupuesto: </strong>
          {{ reparacion.presupuesto | currency : "€" }}
        </p>
        <p>
          <strong>Total: </strong>
          <span>{{ reparacion.precio_total | currency : "€" }} </span>
        </p>
        <button [routerLink]="['/reparacion', reparacion.id, 'notas']">
          Ver Detalle Reparación
        </button>
      </div>
      }
    </div>
  </div>
</div>
<ngx-sonner-toaster richColors position="bottom-center" />