<header>
    <h2>VEHÍCULOS</h2>
    <i class="fa-solid fa-print"></i><!--(click)="exportarPdf()"-->
</header>

<div class="table table-responsive" id="pdf-content">
    <table>
        <th>ID</th>
        <th class="vehiculo">Vehículo</th>
        <th>Matrícula</th>
        <th>Entrada</th>
        <th>Salida</th>

        @for(vehiculo of vehiculos;track $index){

        <tr [routerLink]="[`/admin/vehiculo/${vehiculo.id}`]"><!--ver cómo lo desactivo para tamaños inferiores-->
            <td>{{vehiculo.id}}</td>
            <td class="vehiculo">{{vehiculo.marca}} {{vehiculo.modelo}}</td>
            <td>{{vehiculo.matricula}}</td>
            <td>{{vehiculo.fecha_entrada | date: 'dd/MM/yyyy'}}</td>
            <td>{{vehiculo.fecha_salida | date: 'dd/MM/yyyy'}}</td>
            <td class="boton"><button class="btn btn-info" [routerLink]="[`/admin/vehiculo/${vehiculo.id}`]">Ver
                    detalle</button></td>

        </tr>
        }
    </table>
</div>