header {
	display: flex;
	justify-content: space-between;
	padding: 20px 20px 20px 0;
	align-items: center;
	i {
		font-size: 200%;
		cursor: pointer;
	}
}
th {
	background-color: var(--primary-color);
	color: white;
}
table {
	text-align: center;
	border: 1px solid black;

	width: 100%;
	th,
	td {
		border: 1px solid black;
		padding: 5px;
	}
	.vista {
		cursor: pointer;
	}
}

@media (max-width: 1024px) {
	.boton {
		display: none;
	}
}
@media (max-width: 768px) {
	.vehiculo {
		display: none;
	}
}
