<h2>REPARACIONES</h2>
<div class="table table-responsive">
    <table>
        <th>Ref.</th>
        <th>Entrada</th>
        <th>Vehículo</th>
        <th>Mecánico</th>
        <th>Estado</th>
        @for(reparacion of reparaciones;track $index){

        <tr [routerLink]="[`/admin/reparacion/${reparacion.id}`]">
            <td>{{reparacion.id}}</td>
            <td>{{reparacion.fecha_ingreso| date}}</td>
            <td>{{reparacion.vehiculo}}</td>
            <td>{{reparacion.mecanico}}</td>
            <td>{{reparacion.estado}}</td>
        </tr>


        }
    </table>
</div>