<header>
    <div>
        <h2>NOTAS DE TALLER</h2>
        <select (change)="filtrarPorEstado($event)">
            <option value="">Todas las Reparaciones</option>
            <option value="pendiente">Pendiente</option>
            <option value="en_progreso">En progreso</option>
            <option value="finalizado">Finalizada</option>
        </select>
        <select (change)="filtrarPorFecha($event)">
            <option value="">Todas las fechas</option>
            <option value="fecha_ingreso">Filtrar mas reciente</option>
            <option value="filtrarPorFecha">Filtrar mas antigua</option>
        </select>
    </div>
    <i class="fa-solid fa-print"></i>
</header>
<div class="table table-responsive">
    <table>
        <th class="entrada">Entrada</th>
        <th>Vehículo</th>
        <th>Mecánico</th>
        <th>Estado</th>
        @for(reparacion of reparaciones;track $index){
        <tr>
            <td class="entrada">{{reparacion.fecha_ingreso | date: 'dd/MM/yyyy'}}</td>
            <td>{{reparacion.vehiculo}}</td>
            <td>{{reparacion.mecanico}}</td>
            <td [style]="getEstiloEstado(reparacion.estado)">{{reparacion.estado}}</td>
            <td class="vista"> <i [routerLink]="[`/admin/cliente/${reparacion.id}`]" class="fa-solid fa-eye"></i> </td>
        </tr>
        }
    </table>
</div>
<ngx-sonner-toaster richColors position="bottom-center" />