<h2>REPARACIONES</h2>
<select (change)="filtrarPorEstado($event)">
    <option value="">Todas</option>
    <option value="pendiente">pendiente</option>
    <option value="en_progreso">en_progreso</option>
    <option value="finalizado">finalizado</option>
</select>
<div class="table table-responsive">
    <table>
        <th>Ref.</th>
        <th>Entrada</th>
        <th>Vehículo</th>
        <th>Mecánico</th>
        <th>Estado</th>
        @for(reparacion of reparaciones;track $index){

        <tr [routerLink]="[`/admin/reparacion/${reparacion.id}`]">
            <td>{{reparacion.id}}</td>
            <td>{{reparacion.fecha_ingreso| date: 'dd/MM/yyyy'}}</td>
            <td>{{reparacion.vehiculo}}</td>
            <td>{{reparacion.mecanico}}</td>
            <td>{{reparacion.estado}}</td>
        </tr>


        }
    </table>
</div>