header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 0 20px 0;
	div {
		display: flex;
		align-items: center;
		gap: 20px;
	}
	i {
		margin-right: 20px;
		font-size: 200%;
		cursor: pointer;
	}
}
table {
	text-align: center;
	border: 1px solid black;

	width: 100%;
	th,
	td {
		border: 1px solid black;
	}
	td,
	th {
		padding: 5px;
	}
}
select {
	margin: 10px 0 20px 0;
}

/* @media (max-width: 1024px) {
	.boton {
		display: none;
	}
} */
@media (max-width: 768px) {
	.entrada {
		display: none;
	}
}
