header {
	display: flex;
	justify-content: space-between;
	i {
		margin-right: 20px;
		font-size: 200%;
		cursor: pointer;
	}
}
table {
	text-align: center;
	border: 1px solid black;

	width: 100%;
	th,
	td {
		border: 1px solid black;
	}
	td,
	th {
		padding: 10px;
	}
}
@media (max-width: 1024px) {
	.boton {
		display: none;
	}
}
@media (max-width: 768px) {
	.entrada {
		display: none;
	}
}
