:root {
	--primary-color: #0e0e55;
	--secondary-color: #ebedf1;
	--tertiary-color: gold;
	--primary-font: "Montserrat", serif;
	--secondary-font: "Handlee", serif;
}

.wrapper {
	padding: 20px;
}

select {
	font-size: 16px;
	padding: 8px 12px;
	border: 1px solid #ccc;
	border-radius: 6px;
	top: 20px;
	right: 800px;
	cursor: pointer;
}
