:root {
	--primary-color: #2b2b70;
	--secondary-color: #1c1d1e;
	--tertiary-color: gold;
	--primary-font: "Montserrat", serif;
	--secondary-font: "Handlee", serif;
}

.wrapper {
	padding: 20px;
}
select {
	margin-bottom: 10px;
	padding: 10px;
}
