.card-nota {
    background-color: #ffffff;
    border-left: 5px solid #0d6efd;
    padding: 15px 20px;
    margin-bottom: 16px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.06);
    font-family: 'Segoe UI', sans-serif;
    transition: transform 0.2s;
  }
  
  .card-nota:hover {
    transform: scale(1.01);
  }
  
  .nota-header {
    margin-bottom: 10px;
  }
  
  .nota-id {
    font-weight: bold;
    color: #0d6efd;
    font-size: 1rem;
  }
  
  .nota-texto {
    font-size: 0.95rem;
    line-height: 1.5;
    color: #333;
    margin-bottom: 10px;
  }
  
  /* Botones */
  .nota-botones {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
  }
  
  .nota-botones button {
    padding: 6px 12px;
    font-size: 0.85rem;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 500;
    transition: background-color 0.2s;
  }

  .nota-fecha {
    font-size: 0.85rem;
    color: #666;
    margin-top: 4px;
    display: flex;
    align-items: center;
    gap: 6px;
  }
  
  .fecha-nota {
    font-style: italic;
    color: #495057;
    font-size: 0.85rem;
  }

  

  /* Estilo específico */
  /* .btn-ver {
    background-color: #0d6efd;
    color: white;
  }
  
  .btn-ver:hover {
    background-color: #0b5ed7;
  }
  
  .btn-eliminar {
    background-color: #dc3545;
    color: white;
  }
  
  .btn-eliminar:hover {
    background-color: #c82333;
  }
   */
  
  
  
  
  
  
  