header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 0 20px 0;
	div {
		display: flex;
		align-items: center;
		gap: 20px;
	}
	i {
		margin-right: 20px;
		font-size: 200%;
		cursor: pointer;
	}
}
.capitalize {
	text-transform: capitalize;
}
table {
	text-align: center;
	border: 1px solid black;

	width: 100%;
	th,
	td {
		padding: 5px;
		border: 1px solid black;
	}
	.vista {
		cursor: pointer;
	}
}

@media (max-width: 1024px) {
	.boton {
		display: none;
	}
}
@media (max-width: 800px) {
	.email {
		display: none;
	}
}
