<header>
  <div>
    <h2>LISTADO DE EMPLEADOS</h2>
    <select (change)="filtrarPorRol($event)">
      <option value="">Todas</option>
      <option value="admin">Admin</option>
      <option value="mecanico">Mecanico</option>
    </select>
  </div>
  <i class="fa-solid fa-print"></i>
</header>
<div class="table table-responsive">
  <table>
    <th>Empleados</th>
    <th>Teléfono</th>
    <th class="email">Email</th>
    <th>Rol</th>
    <th></th>
    @for(usuario of usuarios;track $index){

    <tr>
      <td class="capitalize">{{ usuario.nombre }} {{ usuario.apellidos }}</td>
      <td>{{ usuario.telefono }}</td>
      <td class="email">{{ usuario.email }}</td>
      <td class="capitalize">{{ usuario.rol }}</td>
      <td class="vista"> <i [routerLink]="[`/admin/usuario/${usuario.id}`]" class="fa-solid fa-eye"></i> </td>

      }
  </table>
</div>
<ngx-sonner-toaster richColors position="bottom-center" />