header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 0 20px 0;
	div {
		display: flex;
		align-items: center;
		gap: 20px;
	}
	i {
		margin-right: 20px;
		font-size: 200%;
		cursor: pointer;
	}
}

@media (max-width: 1024px) {
	.boton {
		display: none;
	}
}
@media (max-width: 800px) {
	.email {
		display: none;
	}
}
