.nombre {
	background-color: var(--primary-color);
	color: white;
	font-weight: bold;
	font-size: 120%;
}

.list-group {
	width: 60%;
	margin: 0 auto;
}
h1 {
	text-align: center;
}

.botones {
	width: 85%;
	display: flex;
	justify-content: space-between;
	button {
		width: 30%;
		border-radius: 5px;
		padding: 5px;
	}
}

.actualizar {
	text-align: center;
	#actualizar {
		margin: 20px auto;
		padding: 10px;
		width: 50%;
	}
}

.perfil {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #f9f9f9;
	padding: 15px;
	border-radius: 8px;
	margin-bottom: 10px;
}

.imagen-empleado {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	object-fit: cover;
	border: 3px solid white;
	margin-right: 20px;
}

.actualizar-imagen {
	background-color: var(--primary-color);
	color: white;
	border: none;
	padding: 10px 20px;
	font-size: 16px;
	border-radius: 5px;
	cursor: pointer;
}
.actualizar-imagen:hover {
	background-color: var(--primary-color);
}

/* querys */
@media (max-width: 768px) {
	.perfil {
		flex-direction: column;
		align-items: center;
		text-align: center;
	}

	.imagen-empleado {
		margin-right: 0;
		margin-bottom: 15px;
		width: 80px;
		height: 80px;
	}

	.actualizar-imagen {
		width: 100%;
		font-size: 14px;
		padding: 10px;
	}
}

@media (max-width: 480px) {
	.imagen-empleado {
		width: 80px;
		height: 80px;
		margin: 0 auto;
		display: block;
	}

	.actualizar-imagen {
		padding: 8px 12px;
		font-size: 13px;
	}
}
