@if(usuario){
<ul class="list-group">
    <li class="nombre list-group-item list-group-item-action"><img class="imagen-empleado" [src]="(usuario.foto_perfil!=='') ? 'http://localhost:3000/images/' + usuario.foto_perfil : '/images/avatarcrm.avif'" alt=""> 
        <button class="actualizar-imagen" (click)="actualizarFoto($event)">Actualizar foto</button>
    </li>
    <li class="list-group-item list-group-item-action"><strong>Nombre: </strong>{{usuario.nombre}}</li>
    <li class="list-group-item list-group-item-action"><strong>Apellidos: </strong>{{usuario.apellidos}}</li>
    <li class="list-group-item list-group-item-action"><strong>DNI: </strong>{{usuario.dni}}</li>
    <li class="list-group-item list-group-item-action"><strong>Teléfono: </strong>{{usuario.telefono}}</li>
    <li class="list-group-item list-group-item-action"><strong>Email:
        </strong>{{usuario.email}}</li>
    <li class="list-group-item list-group-item-action">
        <strong>Dirección: </strong>{{usuario.direccion }}
    </li>
    <li class="list-group-item list-group-item-action">
        <strong>Fecha de alta: </strong>{{usuario.fecha_alta }}
    </li>
    <li class="list-group-item list-group-item-action">
        <strong>Fecha de baja: </strong>{{usuario.fecha_baja }}
    </li>
    <li class="list-group-item list-group-item-action">
        <strong>Fecha de nacimiento: </strong>{{usuario.fecha_nacimiento
        }}
    </li>
    <li class="list-group-item list-group-item-action">
        <p><strong>Número de la Seguridad social: </strong>{{usuario.numero_ss}}</p>
    </li>
    <li class="list-group-item list-group-item-action">
        <p><strong>Rol: </strong>{{usuario.rol}}</p>
    </li>
    <li class="list-group-item list-group-item-action">
        <p><strong>Estado: </strong>{{usuario.activo}}</p>
    </li>
    <li class="list-group-item list-group-item-action">
        <strong>Jornada: </strong>{{usuario.jornada}}
    </li>

    <li class="list-group-item list-group-item-action">
        <strong>Especialidad: </strong>{{usuario.especialidad}}
    </li>
</ul>
}

<div class="actualizar">
    <button id="actualizar" [routerLink]="['/admin', 'usuario', usuarioId, 'editarUsuario']">
        Actualizar usuario
    </button>
</div>
<ngx-sonner-toaster richColors position="bottom-center" />